@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

/* GLOBAL */
/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  background-color: #202020;
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  background-position: center;
}
.bild {
  position: relative;
  z-index: 1;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* .container {
  outline: 4px solid red;
}

.container * {
  outline: 1px solid lime;
} */

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  gap:60px;

  padding: 20px 40px;
  display: flex;
  justify-content: flex start;
  align-items: center;

  background: rgba(32, 32, 32, 0.4);
  backdrop-filter: blur(12px);

  
}

/* .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
} */

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #dedede;
  text-decoration: none;
  font-weight: 700;
}

/* NAVIGATION */
.navigation {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.navigation a {
  color: #dedede;
  text-decoration: none;
  font-weight: 700;
}

/* BURGER */
.burger_button {
  background: none;
  border: none;
  display: none; /* später für responsive */
}

/* HERO-BILD (Hintergrund) */
/* .hero {
  width: 100%;
  height: 100vh; /* oder 600px */
/* background-image: url("images/header img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

/* margin-top: 80px; /* Platz für fixed Header */
/* } */

/* Фото повна ширина */

/* Основний блок після фото */

main {
  padding-top: 100px;
}
.border {
  border: solid 1px #dedede;
}

.undertitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #dedede;

  opacity: 0.7;
}

.title {
  /* Co-working spaces for tech startups */

  margin-top: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */
  letter-spacing: -0.5px;

  color: #dedede;
}

.describing {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.describing_2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #dedede;
  margin-top: -27px;
}
.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.undertitle_2 {
  margin-top: 290px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #dedede;

  opacity: 0.7;
}

.undertitle_3 {
  display: inline-block;
  padding-top: 88px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #dedede;

  opacity: 0.7;
  border-bottom: 1px solid #dedede;
}
.pictures {
  display: grid;
  place-items: center;
}
.office {
  /* margin-top: 100px; */
  padding-top: 100px;
  max-width: 100%;
  height: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.together {
}

.solution_1 {
  padding-top: 234px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
  align-items: center;
}

.solution_2 {
  padding-top: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 130px;
}

.coclusion {
  padding-top: 216px;
}
.apps {
  padding-top: 128px;
}

.undertitle_4 {
  display: inline-block;
  padding-top: 88px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
}
.container_title {
  text-align: center;
}

footer {
  margin-top: 153px;
  border-top: 1px solid #dedede;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_copy {
  /* Made by Your Name — Copyright 2021 */

  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  /* identical to box height, or 225% */
  letter-spacing: -0.5px;

  color: #959595;
}
.footer_name {
  color: #ececec;
}

.socials {
  display: flex;
  gap: 43px;
}
