
/* ----------------
Generell

-------------------*/


@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap"); /* semibold 600 bold 700 extrabold 800 */
:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "THICCCBOI", sans-serif;
  color: #959595;
}

html{
  scroll-behavior: smooth;
}



body {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-family: color var(--second-family);
  background-color: #202020;

}
img {
  max-width: 100%;

}
a {
  color: #dedede;
   text-decoration: none;  /* забрати underline в силці */

  font-weight: 700;
  background: rgba(50, 50, 50, 0.7);
  
   /* Note: backdrop-filter has minimal browser support */
}

/* a:hover{
  opacity: 0.5 ;
    transition: opacity 0.3s;
} */


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: #323232;
  padding: 20px ;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.logo {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_nav {
  display: flex;
  gap: 60px;
}



.burger_menu {
  display: none;

}



.burger_menu_icon {

}

/* --------------
Main

-----------------*/


.main {
  margin-top: 160px;
}


/* --------------
Welcome

-----------------*/

.welcome .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.welcome_titel {
  /* Hi, I am Your Name A Product Designer based in City. */


width: 500px;

font-style: normal;
font-weight: 700;
font-size: 54px; /* Buchstabengröße */
line-height: 74px; /* Zeilenhöhe */
/* or 119% */
letter-spacing: -0.5px; /* Buchstabenabstand */

color: #DEDEDE;
}
.welcome_text {
  width: 410px;
}
.btn {

display: inline-block; /* Taste versteht ihre Größe */
font-size: 18px;
line-height: 25px;
color: #FFFFFF;




padding: 16px 48px;
gap: 16px;
display: inline-flex;
align-items: center;

gap: 16px;




background: #9D9D9D;
border-radius: 4px;



/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.btn::before{         /* IMPORTANT */
  content:url(images/mail.svg) ;
  
}
.welcome_btn {
}

.works_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding-top: 140px;
  

}


.welcome_img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  justify-content: space-between;
  margin-right: 95px;
}

/* --------------
Works

-----------------*/


.work {

  height: 888px;
  
}
/* .work:hover{
  opacity: 1;
} */
.work_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work_name{

/* opacity: 0; */

opacity: 0;
width: 100%;
height: 100%;

display: flex;
align-items: center;
justify-content: center;

/* background-color:rgba(0, 0, 0, 0.7); */




/* InVersion */




font-weight: 700;
font-size: 40px;
line-height: 55px;
/* identical to box height */
letter-spacing: -0.5px;




}
/* .work:hover .work_name{
  opacity: 1;
  transition: opacity 0.5s;
} */

.work:nth-child(odd){
  
  margin-top: -140px;
}


.button_work {
  /* Featured Work */
display:inline-flex;
align-items: center;
gap: 22px;

  
margin-top: 145px;
margin-bottom: 80px;
background-color: transparent; /* Кнопка стає прозрачною  */

border: none; /* не буде видно границь кнопки  */
  




font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */ */
letter-spacing: 1.5px;
text-transform: uppercase;

color: #DEDEDE;

opacity: 0.7;

}

.button_work::before{
  content: url(images/arrow.svg);
  
}









/* --------------
Projekts

-----------------*/




.projekts {
    margin-top: 240px;

}
.projekts_title {
  /* Visual Explorations */





font-family: 'Manrope';

font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: -0.5px;

color: #DEDEDE;



}
.projekts-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}
.projekts_img {
  width: 400px;
  height: 400px;

  object-fit: cover;
  object-position: 20% 30%;
  

}





/* --------------
Personal

-----------------*/





.personal {
  margin-top: 240px;

}
.personal_title {
  /* Personal Projects */



font-family: 'Manrope';

font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: -0.5px;

color: #DEDEDE;



}
.personal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;



}
.personal_img {
  width: 400px;
  height: 560px ;
  object-fit: cover;
  object-position: center;

}


.personal_vertikal {

  height: 400;

}



/* --------------
Contact

-----------------*/

.contact{
  



}

.contact .container{
  max-width: 520px;
  text-align: center;
  
}

.contact_title{
  margin-top: 240px;
  
  font-family: 'Manrope';
  text-align: center;
  color: #DEDEDE
}

.contact_text{
  margin-top: 24px;

  /* If you are looking to hire a product designer, I’m currently available for freelance work */



font-family: 'Manrope';

font-weight: 600;
font-size: 26px;
line-height: 38px;
/* or 146% */
text-align: center;
letter-spacing: -0.5px;
margin-bottom: 50px;

color: #959595;




}

.contact_btm{
  display: inline-flex;
}





/* --------------
Footer

-----------------*/

.footer {
  border-top: 1px solid #696969;
  margin-top: 124px;

}


.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer_copy {
  /* Made by Your Name — Copyright 2021 */




font-weight: 600;
font-size: 16px;
line-height: 36px;
/* identical to box height, or 225% */
letter-spacing: -0.5px;

color: #959595;


}
.footer_name{

  color: #ECECEC;
}

.footer_name {
}


.socials {
  display: flex;

  gap: 43px;
}


.socials_link {
}


.social_img {
  display: flexa;
}


@media (max-width:980px){
  .welcome_img{
    margin-right: 0;
  }

}

@media(max-width:900px){
  .welcome .container{
    display: flex;
    flex-direction: column-reverse;
    gap: 65px;
    
  }
  .welcome{
    margin-top: 70px;
  }
  .welcome_titel{
    width:auto
  }
  .welcome_text{
    width:auto;
    margin-bottom: 50px;
  }
  .welcome_des{
    text-align: center;
  

  }

  .work{
    height:600px
  }

}
@media(max-width:850px){
  .projekts_img{
    height: 300px;
    width: 300px;
  


  }


}
@media(max-width:750px){
  .welcome_titel{
    font-size: 36px;
  }
}
@media (max-width:600px){
  .footer .container{
    flex-direction: column;
    gap: 35px;
  }
  .work_name{
    opacity: 1;
  }
  .projekts_img{
    width: 100%;
    height: 360px;
  }
  .works_wrapper{
    grid-template-columns: 1fr;
    

  }
  .work_img{
    width: 100%;
    height: 600px;
  }
  .work:nth-child(odd){
    margin-top: 0;
  }
  .works_wrapper{
    padding-top: 0;
  }
}
@media(max-width:550px){
  .header{
    position: relative;
  }

  .burger_menu {
    display: block;
    background-color: transparent;
    padding: 0;
    border: none;
    position: absolute;
    top: 29px;
    right: 15px;

}

.burger_menu_icon {
  height: 24px;
  width: 30px;
  object-fit: contain;
  object-position: center;

}
.header.header-mobile .header_nav{
  display: flex;
  align-items: center;

}
.header.header-mobile .container{
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

  .header_nav{
    display: none;

  }
  .welcome_img{
    width: 240px;
    height: 240px;
  }
  .welcome .container{
    gap: 0;
  }
  .main{
    margin-top: 0;
  }
  .welcome_titel{
    width: 366px;
    height: 120px;
    line-height: 35px;
    display: flex;
    margin-left: 7px;
  }
  .welcome_text{
    width: 366px;
  }
  .btn{
    padding: 16px 20px;
  }
  
}

